body {
    background: #fff;
}

.find-your-fit__inner {
    max-width: 1440px;
    margin: auto;
}


.find-your-fit__title {
    color: #000;
    font-size: 46px !important;
    font-weight: 700 !important;
    font-family: Helvetica;
}
.find-your-fit {
background: #fff !important;
}
.find-your-fit__text {
    max-width: 500px !important;
    margin: 0 auto;
    color: #939393 !important;
    line-height: 1.4;
    font-size: 18px;
}
.find-your-fit__label, .find-your-fit__value {
    color: #000000 !important;
    font-weight: 900;
    font-family: Helvetica;
}
.rangeslider__fill {
  background: #000 !important;
}

.find-your-fit__help-label {  
  font-size: 13px !important;
  color: #929292;
} 

 #shopify-section-static-find-your-fit .find-your-fit__content .find-your-fit__main .button {
    margin: auto;
    width: fit-content;
    font-size: 18px;
    background: #000 !important;
    font-weight: 700;
    border-radius: 2px;
    -webkit-box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.15);
box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.15);
}
    
    .find-your-fit__cta {
    margin-top: 30px;
    margin: auto;
}
  
.fit-logo {
    width: 78px;
    margin: auto;
}
.find-your-fit_col {
   width: 50% !important;
    max-width: 100% !important;
}
.find-your-fit__button {
    color: #fff !important;
    padding: 15px 40px !important;
}

@media only screen and (max-width: 1024px) {
    .find-your-fit__inner {
        flex-direction: column;
        height: auto !important;
    }
    .find-your-fit_col {
       width: 100% !important; 
    }
    
    .find-your-fit_col_2 img {
     opacity: 0;
    width: 800px;
}
    .find-your-fit_col_2 {
    background: url('/true-classic-fit_bg.jpg');
    background-size: cover;
    background-position: center;
}
    .find-your-fit__content {
        padding: 60px 35px;
    }
    
}
@media only screen and (max-width: 650px) { 
    .find-your-fit__content {
        height: auto !important;
    }
        .find-your-fit_col_2 img {
    width: 440px;
}
    .find-your-fit__form {
    max-width: 250px;
        width: 300px !important;
}
}
